.about {
  height: 352px;

  background-color: $bgcolor-mobile;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 30px 30px;
}

.about__heading {
  @include font-bold;
  font-size: 24px;
  color: #ff8d30;
}

.about__text {
  @include font-light;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  &--bold {
    @include font-bold;
  }
}
