.about {
  overflow: hidden;
  min-height: 352px;
  margin-top: -1px;

  background-color: $bgcolor-dark;

  border-radius: 0 0 30px 30px;
}

.about__container {
  position: relative;

  width: $mobile-width;
  min-height: 352px;
  padding-top: 32px;
  padding-right: 60px;
  padding-left: 50px;
  margin: 0 auto;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 113px;
    height: 132px;
    content: "";

    background-color: #141b3b;
  }
}

.about__heading {
  margin-top: 0;
  margin-bottom: 18px;

  @include font(700, normal);
  font-size: 24px;
  color: #ff8d30;
}

.about__text {
  margin-top: 0;
  margin-bottom: 18px;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;

  &--bold {
    margin-bottom: 0;

    @include font(700, normal);
  }
}

.about__br {
  display: none;
}

.about__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    border-radius: 0 0 60px 60px;
  }

  .about__container {
    @include tablet-container;
    padding-top: 132px;
    padding-bottom: 88px;

    background-image: none;

    &::before {
      position: absolute;
      z-index: -1;
      top: 96px;
      left: calc(50% - 384px + 40px);

      width: 688px;
      height: 213px;
      content: "";

      border-radius: 20px;
      background-color: #141b3b;
    }

    &::after {
      position: absolute;
      z-index: 0;
      top: 142px;
      left: calc(50% - 384px + 384px);

      width: 376px;
      height: 548px;
      content: "";

      background-image: url("../img/about-tablet@1x.png");
    }
  }

  .about__heading {
    font-size: 45px;
    margin-bottom: 36px;
  }

  .about__text {
    width: 300px;
    margin-bottom: 32px;

    font-size: 28px;
    line-height: 1.18;

    &--bold {
      margin-bottom: 50px;

      font-size: 21px;
      line-height: 1.19;
    }
  }

  .about__br {
    display: block;
  }

  .about__link {
    display: flex;
    width: 274px;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .about {
    min-height: 810px;
  }

  .about__container {
    @include desktop-container;
    padding-top: 190px;

    &::before {
      position: absolute;
      z-index: -1;
      top: 130px;
      left: 60px;

      width: 213px;
      height: 213px;
      content: "";

      border-radius: 20px;
      background-color: #141b3b;
    }

    &::after {
      position: absolute;
      z-index: 0;
      top: 145px;
      left: 750px;

      width: 630px;
      height: 665px;
      content: "";

      background-image: url("../img/about-desktop@1x.png");
    }
  }

  .about__heading {
    margin-bottom: 53px;
  }

  .about__text {
    width: 620px;
    margin-bottom: 39px;

    &--bold {
      width: 410px;
      margin-bottom: 84px;
    }
  }

  .about__br {
    display: none;
  }
}
