.add-plan {
  @include round-top;
  background-color: #d4d9eb;
}

.add-plan__heading {
  @include form-heading;
}

.add-plan__step {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .add-plan {
    @include round-top-tablet;
  }

  .add-plan__step {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    padding-right: 60px;
    padding-left: 60px;

    border-radius: 60px 60px 0 0;
  }
}
