.add-profile {
  border-radius: 0 0 30px 30px;
  background-color: $bgcolor-light;
}

.add-profile__container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: $mobile-width;
  min-height: 481px;
  padding-top: 80px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 67px;
    right: 26px;
    z-index: 1;

    width: 99px;
    height: 99px;
    content: "";

    background-image: url("../img/rates@1x.png");
    background-size: contain;
  }

  @media (min-resolution: 1.5dppx) {
    &::before {
      background-image: url("../img/rates@2x.png");
    }
  }
}

.add-profile__heading {
  max-width: 105px;
  margin-top: 0;
  margin-bottom: 44px;

  line-height: 22px;
}

.add-profile__link {
  @include font(700, normal);
  text-decoration: none;

  &--add {
    font-size: 24px;
    line-height: 1;
    color: #ff8d30;
  }

  &--all {
    display: flex;

    font-size: 16px;
    color: #192144;
  }
}

.add-profile__list {
  max-width: 200px;

  @include list;
  margin-bottom: 27px;
  counter-reset: add-profile;
}

.add-profile__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 67px;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

  &::after {
    position: absolute;
    top: 4px;
    right: -44px;
    z-index: 2;

    width: 34px;
    height: 34px;
    content: "";

    background-color: #ffbd30;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    top: 14px;
    right: -31px;
    z-index: 3;

    content: counter(add-profile);
    counter-increment: add-profile;

    @include font(400, normal);
    font-size: 16px;
    color: #ffffff;
  }

  &:first-child {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.05);

    &::after {
      background-color: #ffa530;
    }
  }

  &:last-child::after {
    background-color: #ffd74b;
  }
}

.add-profile__dl {
  margin-top: 0;
  margin-bottom: 0;
}

.add-profile__item-cell {
  margin-left: 0;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .add-profile {
    border-radius: 0 0 60px 60px;
  }

  .add-profile__container {
    width: $tablet-width;
    min-height: 540px;
    padding-top: 130px;
    padding-right: 75px;
    padding-bottom: 62px;
    padding-left: 131px;

    &::before {
      top: auto;
      right: 86px;
      bottom: 48px;
    }
  }

  .add-profile__heading {
    max-width: none;
    padding-left: 14px;
    margin-bottom: 75px;
  }

  .add-profile__link {
    &--add {
      font-size: 45px;
    }

    &--all {
      position: relative;

      align-items: center;
      height: 67px;
      margin-right: auto;

      font-size: 20px;
      color: #132576;

      &::before {
        position: absolute;
        top: -2px;
        left: -90px;
        z-index: 1;

        width: 67px;
        height: 67px;

        content: "";

        background-color: #e2e5f2;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        top: 22px;
        left: -66px;
        z-index: 2;

        width: 17px;
        height: 21px;

        content: "";

        background-image: url("../img/business.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .add-profile__list {
    position: relative;

    min-width: 100%;
    margin-bottom: 34px;

    &::after {
      position: absolute;
      top: -44px;
      right: -35px;
      z-index: -1;

      width: 198px;
      height: 285px;

      content: "";

      border-radius: 20px;
      background-color: #e2e5f2;
    }
  }

  .add-profile__item {
    &::after {
      top: 0;
      right: auto;
      left: -90px;

      width: 67px;
      height: 67px;
    }

    &::before {
      top: 18px;
      right: auto;
      left: -64px;

      font-size: 28px;
    }
  }

  .add-profile__dl {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .add-profile__item-cell {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .add-profile__container {
    @include desktopContainer;
    min-height: 810px;
    padding-top: 163px;
    padding-right: 131px;

    &::before {
      top: 346px;
      right: 134px;
      bottom: auto;

      width: 198px;
      height: 198px;
    }
  }

  .add-profile__heading {
    padding-left: 0;
    margin-right: auto;
    margin-bottom: 136px;
    margin-left: auto;
  }

  .add-profile__list {
    max-width: 903px;
    min-width: 0;
    padding-left: 90px;

    &::after {
      top: -52px;
      right: -160px;

      width: 444px;
      height: 300px;
    }
  }

  .add-profile__link {
    &--all {
      margin-left: 90px;

      &::after {
        top: 21px;
        left: -65px;
      }
    }
  }
}
