.add-profile {
  border-radius: 0 0 30px 30px;
  background-color: $bgcolor-light;
}

.add-profile__container {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  min-height: 481px;
  padding-top: 80px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin: 0 auto;
}

.add-profile__heading {
  max-width: 105px;
  margin-top: 0;
  margin-bottom: 44px;

  line-height: 22px;
}

.add-profile__link {
  @include font(700, normal);
  text-decoration: none;

  &--add {
    font-size: 24px;
    color: #ff8d30;
  }

  &--all {
    display: block;

    font-size: 16px;
    color: #192144;
  }
}

.add-profile__list {
  width: 200px;

  @include list;
  margin-bottom: 30px;
}

.add-profile__item {
  display: flex;
  align-items: center;
  height: 66px;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

  &:first-child {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
  }
}

.add-profile__dl {
  margin-top: 0;
  margin-bottom: 0;
}

.add-profile__item-cell {
  margin-left: 0;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .add-profile {
    border-radius: 0 0 60px 60px;
  }

  .add-profile__container {
    width: $tablet-width;
    min-height: 540px;
    padding-top: 135px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-left: 40px;
  }

  .add-profile__heading {
    margin-right: auto;
    margin-left: auto;
  }

  .add-profile__link {
    &--add {
      font-size: 45px;
    }

    &--all {
      font-size: 20px;
      color: #132576;
    }
  }

  .add-profile__list {
    width: 100%;
  }

  .add-profile__dl {
    display: flex;
    justify-content: space-between;
  }

  .add-profile__item-cell {
    font-size: 28px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .add-profile__container {
    width: $desktop-width;
    min-height: 750px;
    padding-top: 168px;
    padding-right: 131px;
    padding-left: 131px;
  }
}
