.business-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-height: 443px;
  padding-top: 30px;

  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  background-color: white;
}

.business-rate__heading {
  margin-top: 0;
  margin-bottom: 30px;

  @include font(700, normal);
  font-size: 24px;
  text-align: center;
  color: #ff8d30;
}

.business-rate__list {
  width: 219px;
  padding-left: 0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 33px;
  margin-left: auto;

  list-style: none;
}

.business-rate__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 66px;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

  &:first-child {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
  }
}

.business-rate__dl {
  margin-top: 0;
  margin-bottom: 0;
}

.business-rate__item-cell {
  margin-left: 0;
}

.business-rate__button {
  width: 100%;
  height: 60px;

  @include font(700, normal);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;

  background-color: #f3f4f8;
  border: 0;
  border-radius: 0  0 20px 20px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .business-rate {
    width: 688px;
    padding-top: 50px;

    border-radius: 30px;
  }

  .business-rate__heading {
    margin-bottom: 42px;

    font-size: 45px;
  }

  .business-rate__list {
    width: 506px;

    margin-bottom: 52px;
  }

  .business-rate__item {
    height: 56px;

    font-size: 22px;
    line-height: 1.27;
  }

  .business-rate__dl {
    display: flex;
    justify-content: space-between;
  }

  .business-rate__button {
    height: 108px;

    font-size: 24px;
    text-transform: none;
  }
}

@media (min-width: $desktop-width) {
  .business-rate {
    width: 750px;
  }

  .business-rate__list {
    width: 630px;
  }
}
