.button-rect {
  @include font(700, normal);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 18px;
  text-decoration: none;

  border-radius: 10px;
  cursor: pointer;

  &--yellow {
    color: #1d2e5b;

    border: 0;
    background-color: #ffd74b;
  }

  &--border {
    padding-right: 20px;
    padding-left: 20px;

    color: #1d2e5b;

    border: solid 3px #192144;
    background-color: transparent;

    &:active {
      border-color: rgba(22, 28, 53, 0.3);
    }
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);

    & .button-rect__arrow {
      opacity: 0.3;
    }
  }
}

.button-rect__arrow {
  fill: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .button-rect {
    height: 81px;
    padding-right: 35px;
    padding-left: 35px;

    font-size: 24px;

    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .button-rect {
    width: 280px;

    &--yellow {

      &:hover,
      &:active {
        background-color: #ffbd30;
      }
    }

    &--border {

      &:hover,
      &:active {
        background-color: #192144;
        border-color: #192144;

        color: #ffffff;

        & .button-rect__arrow {
          fill: #ffffff;
        }
      }

      &:active {
        color: rgba(256, 256, 256, 0.3);
      }
    }
  }
}
