.catalog {
  overflow: hidden;

  background-color: $bgcolor-light;
}

.catalog__container {
  @include mobileContainer;
  padding-top: 53px;
  padding-bottom: 91px;
  margin: 0 auto;
}

.catalog__filter {
  margin-bottom: 28px;
}

.catalog__list {
  @include list;
  min-width: 270px;
  margin-bottom: 23px;
}

.catalog__item {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: 20px;
}

.catalog__item-container {
  position: relative;

  padding-bottom: 40px;
}

.catalog__item-header {
  display: flex;
  flex-wrap: wrap;
}

.catalog__photo {
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  border-radius: 50%;

  & img {
    display: block;
    width: 100%;
    height: auto;

    transition: all 0.2s ease-out;
  }
}

.catalog__link {
  text-decoration: none;

  transition: all 0.2s ease-out;

  &:active {
    opacity: 0.3;
  }
}

.catalog__title {
  max-width: 80px;
  padding-bottom: 34px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 20px;
  line-height: 1;
  color: #1d2e5b;
}

.catalog__status {
  &::after {
    position: absolute;
    top: 8px;
    right: 2px;

    width: 6px;
    height: 6px;
    content: "";

    border-radius: 50%;
  }

  &--offline::after {
    background-color: #f97676;
  }

  &--online::after {
    background-color: #81e31e;
  }
}

.catalog__button-wrap {
  margin-top: -29px;
  margin-left: 84px;
}

.catalog__like {
  @include font(700, normal);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #161c35;
}

.catalog__tags {
  max-width: 175px;
  padding-left: 5px;
  margin-top: 9px;
  margin-bottom: 13px;

  @include font(400, normal);
  font-size: 15px;
  line-height: 1.2;
  color: $greyish-brown;
}

.catalog__list-caption {
  position: relative;
  z-index: 2;

  margin-top: 0;
  margin-bottom: 16px;

  @include font(400, normal);
  font-size: 15px;
  line-height: 1.2;
  color: $greyish-brown;

  &--level {
    z-index: 10;

    margin-right: -7px;
    margin-bottom: 7px;
  }

  &::before {
    position: absolute;
    top: 9px;
    left: -25px;
    z-index: -1;

    width: 100vw;
    height: 1px;
    content: "";

    background-color: $bgcolor-light;
  }
}

.catalog__item-text {
  padding-right: 10px;
  padding-left: 14px;
  margin-left: -7px;

  background: #ffffff;
}

.catalog__countries-list {
  min-height: 52px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 13px;

  list-style: none;
}

.catalog__flag {
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-bottom: 10px;

  @include font(500, normal);
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1d2e5b;
}

.catalog__img {
  margin-right: 15px;
}

.catalog__item-footer {
  display: flex;
  justify-content: space-between;
}

.catalog__transport-list {
  display: flex;
  padding-left: 4px;
  margin-top: 0;
  margin-bottom: 20px;

  list-style: none;
}

.catalog__transport-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 32px;

  background-color: #edeff6;
  border-radius: 50%;

  &--active {
    .catalog__transport-icon {
      fill: #1d2e5b;
      opacity: 1;
    }
  }
}

.catalog__transport-icon {
  opacity: 0.15;
}

.catalog__level {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding-top: 4px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;


  &--80 {
    @include statusBarCatalogMobile(80);
  }

  &--50 {
    @include statusBarCatalogMobile(50);
  }

  &--25 {
    @include statusBarCatalogMobile(25);

    &::before {
      transform: rotate(180deg);

      border: none;
      border-radius: 0;
      background-color: #ffffff;
    }
  }
}

.catalog__status-bar {
  @include statusBarContainer;
  top: 2px;

  &--level-99 {
    @include statusBarCatalogMobile(99);
  }

  &--level-80 {
    @include statusBarCatalogMobile(80);
  }

  &--level-25 {
    @include statusBarCatalogMobile(25);
  }

  &--level-50 {
    @include statusBarCatalogMobile(50);
  }
}

.catalog__term {
  z-index: 3;

  @include font(700, normal);
  font-size: 24px;
  line-height: 1;
  color: #1d2e5b;
}

.catalog__description {
  z-index: 3;

  display: none;
}

.catalog__button {
  transition: all 0.2s ease-out;

  &--call {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  &--more {
    position: relative;

    display: flex;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;

    @include font(700, normal);
    font-size: 17px;
    text-transform: uppercase;
    color: #1d2e5b;

    background-color: transparent;
    border: 0;

    cursor: pointer;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);

    & svg {
      fill: rgba(22, 28, 53, 0.3);
    }
  }
}

.catalog__plus-icon {
  margin-right: 14px;

  fill: #1d2e5b;

  transition: all 0.2s ease-out;
}

.catalog__like-btn {
  position: absolute;
  top: 39px;
  left: 47px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;

  border: none;
  border-radius: 50%;
  background-color: #edeff6;

  cursor: pointer;

  transition: all 0.2s ease-out;

  &:active {
    background-color: #e2e5f2;

    & .catalog__like-icon {
      opacity: 0.1;
    }
  }

  &--liked {
    background-color: #f9eaea;

    & .catalog__like-icon {
      background-image: url("../img/heart-active.svg");
      opacity: 1;
    }

    &:active {
      background-color: #f9d8d8;

      & .catalog__like-icon {
        opacity: 0.3;
      }
    }
  }
}

.catalog__like-icon {
  display: block;
  width: 13px;
  height: 11px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;

  transition: all 0.2s ease-out;
}

.catalog__icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 20px;

  background-color: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    width: $tablet-width;
    padding-top: 106px;
    padding-right: 40px;
    padding-bottom: 111px;
    padding-left: 40px;
  }

  .catalog__filter {
    margin-bottom: 40px;
  }

  .catalog__list {
    margin-bottom: 45px;
  }

  .catalog__item {
    display: flex;
    padding-top: 33px;
    padding-bottom: 6px;
    padding-left: 35px;
    margin-bottom: 40px;

    border-radius: 20px;
  }

  .catalog__item-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .catalog__item-header {
    order: 1;
    align-items: flex-start;
    max-width: 560px;
    min-height: 190px;
    padding-left: 223px;
    margin-bottom: 22px;
  }

  .catalog__photo {
    position: absolute;
    left: 0;

    width: 190px;
    height: 190px;
    margin-right: 0;
    border-radius: 20px;
  }

  .catalog__title {
    position: relative;

    max-width: none;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: 15px;

    font-size: 30px;
  }

  .catalog__status {
    &::after {
      top: 10px;
      right: -30px;

      width: 7px;
      height: 7px;
    }
  }

  .catalog__tags {
    max-width: 225px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 45px;

    font-size: 20px;
  }

  .catalog__button-wrap {
    order: 1;
    display: flex;
    margin-top: 0;
    margin-left: 0;
  }

  .catalog__button {
    &--call {
      position: static;

      width: 148px;
      padding-top: 2px;
      padding-right: 14px;
    }

    &--more {
      padding-right: 9px;
      margin-bottom: 46px;

      font-size: 20px;
      line-height: 1.5;
    }
  }

  .catalog__plus-icon {
    width: 27px;
    height: 27px;
    margin-right: 23px;

    fill: #1d2e5b;
  }

  .catalog__like-btn {
    position: static;

    width: 50px;
    height: 50px;
    margin-right: 4px;
  }

  .catalog__like-icon {
    width: 20px;
    height: 17px;
  }

  .catalog__icon {
    width: 27px;
    height: 27px;

    margin-right: 24px;
  }

  .catalog__like {
    padding-top: 12px;
    margin-top: 0;
    margin-left: 0;

    font-size: 20px;
  }

  .catalog__item-direction {
    order: 3;
  }

  .catalog__countries-list {
    display: flex;
    margin-bottom: 0;
  }

  .catalog__item-footer {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
  }

  .catalog__list-caption {
    margin-bottom: 11px;
    margin-left: 42px;

    &--transport {
      display: none;
    }

    &--level {
      display: none;
    }

    &::before {
      left: -90px;
    }
  }

  .catalog__transport-list {
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .catalog__transport-item {
    background-color: transparent;
  }

  .catalog__transport-icon {
    height: 21px;
    width: auto;
  }

  .catalog__level {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    margin-right: 6px;
    margin-left: 0;
  }

  .catalog__status-bar {
    &--level-99,
    &--level-80,
    &--level-50 {
      &::before {
        width: 60px;
        height: 60px;

        clip: rect(0, 60px, 60px, 30px);
      }

      &::after {
        width: 60px;
        height: 60px;

        clip: rect(0, 30px, 60px, 0);
      }
    }

    &--level-25 {
      clip: rect(0, 60px, 60px, 30px);

      &::after {
        width: 60px;
        height: 60px;

        clip: rect(0, 30px, 60px, 0);
      }
    }
  }

  .catalog__term {
    border-bottom: 1px solid rgba(68, 68, 68, 0.4);
  }

  .catalog__description {
    display: block;
    padding-top: 2px;
    margin-left: 0;

    @include font(400, normal);
    font-size: 14px;
    color: rgba(68, 68, 68, 0.4);
  }

  .catalog__flag {
    padding-left: 0;
    margin-right: 29px;

    font-size: 20px;
  }

  .catalog__img {
    width: 35px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 4px;
  }

  .catalog__pagination {
    margin-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    &::after {
      position: absolute;
      right: -18px;
      bottom: 250px;

      width: 36px;
      height: 2857px;
      content: "";

      border-radius: 0 0 0 60px;
      background-color: #e2e5f2;
    }
  }

  .catalog__container {
    @include desktopContainerNarrow;
    padding-bottom: 106px;
  }

  .catalog__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .catalog__filter {
    order: 2;
  }

  .catalog__list {
    order: 1;
    margin-right: 85px;
    margin-bottom: 35px;
  }

  .catalog__item {
    position: relative;

    max-width: 950px;
    min-height: 285px;
    padding-top: 48px;
    padding-right: 38px;
    margin-bottom: 30px;

    transition: all 0.2s ease-out;

    &::before {
      position: absolute;
      top: 0;
      left: 630px;
      z-index: 10;

      width: 1px;
      height: 100%;
      content: "";

      background-image: linear-gradient(to bottom, #ffffff, #444444, #ffffff);
      opacity: 0.1;
    }

    &:hover {
      border-radius: 20px;
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

      & .catalog__photo img {
        transform: scale(1.1, 1.1);
      }
    }
  }

  .catalog__list-caption {
    display: none;
  }

  .catalog__item-header {
    max-width: 595px;
    padding-bottom: 20px;
    padding-left: 308px;
    margin-right: 44px;
    margin-bottom: 0;
  }

  .catalog__photo {
    top: -48px;
    left: -35px;

    width: 285px;
    height: 285px;

    border-radius: 20px 0 0 20px;
  }

  .catalog__title {
    margin-bottom: 11px;

    line-height: 0.9;
  }

  .catalog__status {
    &::after {
      top: 8px;
      right: auto;
      left: -24px;
    }
  }

  .catalog__tags {
    max-width: 235px;
    padding-left: 4px;
    margin-bottom: 40px;
  }

  .catalog__item-direction {
    order: 2;
    padding-bottom: 95px;
  }

  .catalog__flag {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog__countries-list {
    flex-direction: column;
    max-width: 230px;
  }

  .catalog__img {
    margin-right: 18px;
  }

  .catalog__item-footer {
    order: 3;
    flex-direction: row;
    margin-top: -120px;
  }

  .catalog__transport-list {
    flex-direction: row;
    margin-right: 44px;
    margin-bottom: 0;
  }

  .catalog__button {
    &--more {
      margin-right: 0;
      margin-bottom: 66px;
      margin-left: 345px;

      &:hover {
        color: rgba(22, 28, 53, 0.6);

        & svg {
          fill: rgba(22, 28, 53, 0.6);
        }
      }

      &:active {
        color: rgba(22, 28, 53, 0.3);

        & svg {
          fill: rgba(22, 28, 53, 0.3);
        }
      }
    }
  }

  .catalog__link:hover {
    opacity: 0.6;
  }

  .catalog__link:active {
    opacity: 0.3;
  }

  .catalog__like-btn {
    &:hover {
      background-color: #e2e5f2;

      & .catalog__like-icon {
        opacity: 0.5;
      }
    }

    &:active {
      background-color: #e2e5f2;

      & .catalog__like-icon {
        opacity: 0.1;
      }
    }

    &--liked {
      &:hover {
        background-color: #f9d8d8;

        & .catalog__like-icon {
          opacity: 1;
        }
      }

      &:active {
        background-color: #f9d8d8;

        & .catalog__like-icon {
          opacity: 0.3;
        }
      }
    }
  }

  .catalog__pagination {
    margin-bottom: 28px;
  }
}
