.companions {
  position: relative;
  z-index: 4;

  margin-top: -60px;
  padding-top: 130px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  background-color: $bgcolor-mobile-dark;
  border-radius: 0 0 30px 30px;
}

.companions__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include font-bold;
  font-size: 24px;
  color: #ff8d30;
}

.companions__text {
  @include font-light;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;

  &--bold {
    @include font-bold;
  }
}

.companions__list {
  @include list;
}

.companions__item {
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: 10px;
}

.companions__level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  color: #ffffff;

  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 50%;

  & dt {
    @include font-bold;
    font-size: 24px;
  }

  & dd {
    margin-left: 0;
    @include font-normal;
    font-size: 14px;
  }
}

.companions__link {
  text-decoration: none;

  &--btn {
    display: flex;
    align-items: center;
    height: 62px;
    padding-left: 24px;

    @include font-bold;
    font-size: 18px;
    color: #1d2e5b;

    border-radius: 10px;
    background-color: #ffd74b;
  }
}

.companions__name {
  @include font-bold;
  font-size: 21px;
  text-align: center;
  color: #1d2e5b;
}

.companions__countries {
  display: flex;
  @include list;
}

.companions__tags {
  @include font-normal;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: $greyish-brown;
}

.companions__transport-list {
  display: flex;
  @include list;
}
