.companions {
  @include round-bottom;

  position: relative;

  padding-top: 100px;

  background-color: $bgcolor-dark;
  background-image: url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-position: top 100px right 25px,
    top 370px left -10px;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;

    width: 113px;
    height: 132px;
    content: "";

    border-radius: 0 20px 20px 0;
    background-color: #141b3b;
  }
}

.companions__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 24px;
  color: #ff8d30;
}

.companions__text {
  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;

  &--bold {
    @include font(700, normal);
  }
}

.companions__list {
  @include list;
}

.companions__item {
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: 10px;
}

.companions__item-link {
  text-decoration: none;
}

.companions__level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  color: #ffffff;

  background-color: rgba($color: #000000, $alpha: 0.6);
  border-radius: 50%;
}

.companions__term {
  @include font(700, normal);
  font-size: 24px;
}

.companions__description {
  margin-left: 0;

  @include font(400, normal);
  font-size: 14px;
}

.companions__link {
  text-decoration: none;
}

.companions__name {
  @include font(700, normal);
  font-size: 21px;
  text-align: center;
  color: #1d2e5b;
}

.companions__countries {
  display: flex;

  @include list;
}

.companions__tags {
  @include font(400, normal);
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: $greyish-brown;
}

.companions__transport-list {
  display: flex;

  @include list;
}

@media (min-width: $tablet-width) {
  .companions {
    @include round-bottom-tablet;

    background-image: url("../img/rogovaya-back-desktop@1x.png");
    background-position: top 140px right 77px;
    background-repeat: no-repeat;

    &::before {
      top: 140px;
      left: 40px;

      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      position: absolute;
      top: 486px;
      left: 40px;
      z-index: -1;

      width: 143px;
      height: 143px;

      opacity: 0.1;
      content: "";

      background-image: url("../img/smolov-tablet@1x.jpg");
      border-radius: 20px;
    }
  }

  .companions__heading {
    font-size: 45px;
  }

  .companions__text {
    width: 430px;

    font-size: 28px;
    line-height: 1.18;

    &--bold {
      font-size: 21px;
      line-height: 1.19;
    }
  }

  .companions__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    min-height: 750px;

    background-position: top 385px left 191px;

    &::before {
      top: 128px;
      left: 60px;

      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      position: absolute;
      top: 193px;
      left: 547px;
      z-index: -1;

      width: 143px;
      height: 143px;

      opacity: 0.1;
      content: "";

      background-image: url("../img/smolov-tablet@1x.jpg");
      border-radius: 20px;
    }
  }

  .companions__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 485px;
  }

  .companions__list {
    order: 10;
  }
}
