.contacts {
  background-color: $bgcolor-bright;
  border-radius: 0 0 30px 30px;
}

.contacts__container {
  @include mobileContainer;
  padding-top: 64px;
  padding-bottom: 34px;
  margin: 0 auto;
}

.contacts__address {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 32px;

  @include font(700, normal);
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #192144;
}

.contacts__text {
  max-width: 200px;
}

@media (min-width: $tablet-width) {
  .contacts {
    border-radius: 0 0 60px 60px;
  }

  .contacts__container {
    @include tabletContainer;
    padding-top: 109px;
    padding-bottom: 85px;
  }

  .contacts__address {
    margin-bottom: 44px;

    font-size: 28px;
    line-height: 1;
  }

  .contacts__text {
    max-width: none;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-width;
    padding-top: 113px;
    padding-right: 134px;
    padding-bottom: 56px;
    padding-left: 284px;
  }

  .contacts__address {
    margin-bottom: 0;
  }

  .contacts__link {
    min-width: 324px;
  }
}
