.contacts {
  @include round-bottom;

  padding-top: 60px;

  background-color: $bgcolor-bright;
}

.contacts__address {
  display: flex;
  margin-bottom: 32px;

  @include font(700, normal);
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #192144;
}
