.contacts {
  background-color: $bgcolor-bright;
  border-radius: 0 0 30px 30px;
}

.contacts__container {
  width: $mobile-width;
  padding-top: 64px;
  padding-right: 25px;
  padding-bottom: 34px;
  padding-left: 25px;
  margin: 0 auto;
}

.contacts__address {
  position: relative;

  display: flex;
  max-width: 210px;
  padding-left: 61px;
  margin-bottom: 32px;

  @include font(700, normal);
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #192144;

  &::before {
    position: absolute;
    left: 0;

    width: 45px;
    height: 45px;
    content: "";

    background-color: tomato;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    border-radius: 0 0 60px 60px;
  }

  .contacts__container {
    width: $tablet-width;
    padding-top: 130px;
    padding-right: 75px;
    padding-bottom: 85px;
    padding-left: 75px;
  }

  .contacts__address {
    max-width: none;
    padding-left: 93px;
    margin-bottom: 62px;

    font-size: 28px;
    line-height: 1;

    &::before {
      top: -22px;
      width: 67px;
      height: 67px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-width;
    padding-top: 114px;
    padding-right: 134px;
    padding-left: 405px;
  }

  .contacts__address {
    margin-bottom: 0;
  }

  .contacts__link {
    min-width: 324px;
  }
}
