.directions {
  @include round-bottom;

  padding-top: 130px;

  background-color: $bgcolor-light;
}

.directions__item-wrapper {
  position: relative;

  padding-top: 28px;
  padding-left: 25px;
  margin-top: -10px;

  border-radius: 10px;
  background-color: #ffffff;
}

.directions__img {
  border-radius: 10px 10px 0 0;
}

.directions__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 24px;
  color: #ff8d30;
}

.directions__text {
  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

.directions__br {
  display: none;
}

.directions__list {
  @include list;
}

.directions__link {
  text-decoration: none;
}

.directions__title {
  margin-top: 0;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 21px;
  color: #161c35;
}

.directions__counter,
.directions__item-text {
  @include font(500, normal);
  font-size: 16px;
  line-height: 1.13;
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .directions {
    @include round-bottom-tablet;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: auto 575px;
    background-position: top 140px right 40px;

    &::after {
      position: absolute;
      z-index: -1;
      top: 466px;
      left: 40px;

      width: 141px;
      height: 141px;
      content: "";

      border-radius: 20px;
      background-color: #e2e5f2;
    }
  }

  .directions__heading {
    font-size: 45px;
  }

  .directions__text {
    width: 340px;

    font-size: 28px;
    line-height: 1.18;
  }

  .directions__br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    min-height: 750px;
    padding: 131px;

    &::after {
      position: absolute;
      z-index: -1;
      top: 140px;
      left: 60px;

      width: 141px;
      height: 141px;
      content: "";

      border-radius: 20px;
      background-color: #e2e5f2;
    }
  }

  .directions__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
  }

  .directions__list {
    order: -1;
    margin-right: 170px;
  }

  .directions__item {
    width: 560px;
    height: 140px;
    margin-bottom: 10px;
  }

  .directions__link {
    width: 274px;

    &--item {
      width: 100%;
      display: flex;
    }
  }
}
