.feedback {
  background-color: $bgcolor-dark;
  border-radius: 0 0 30px 30px;
}

.feedback__container {
  @include mobile-container;
  padding-top: 98px;
  padding-bottom: 28px;
  margin: 0 auto;
}

.feedback__heading {
  margin-top: 0;
  margin-bottom: 18px;

  @include font(700, normal);
  font-size: 24px;
  text-align: center;
  color: #ff8d30;
}

.feedback__text {
  max-width: 215px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;

  &:last-of-type {
    margin-bottom: 18px;
  }
}

.feedback__link {
  color: #ffd74b;
}

.feedback__form {
  display: flex;
  margin-bottom: 28px;
}

.feedback__input {
  width: 100%;
  min-width: 210px;
  height: 62px;
  padding-right: 24px;
  padding-left: 24px;

  @include font(700, normal);
  font-size: 18px;
  color: rgba(68, 68, 68, 0.3);

  border: 0;
  border-radius: 10px 0 0 10px;
}

.feedback__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  min-width: 60px;
  padding-right: 0;
  padding-left: 0;
  margin-left: -10px;

  border-radius: 10px;
  border: 0;
  background-color: #ffd74b;
}

.feedback__button-text {
  @include font(700, normal);

  display: none;

  font-size: 24px;
  color: #1d2e5b;
}

.feedback__contact-list {
  @include list;
}

.feedback__contact-link {
  display: flex;
  align-items: center;

  @include font(700, normal);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffd74b;
}

.feedback__contact-img {
  margin-right: 16px;

  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .feedback {
    border-radius: 0 0 60px 60px;
  }

  .feedback__container {
    @include tablet-container;
    padding-top: 131px;
    padding-bottom: 60px;
  }

  .feedback__heading {
    margin-bottom: 55px;

    font-size: 45px;
  }

  .feedback__text {
    max-width: none;
    margin-bottom: 65px;

    font-size: 28px;
    line-height: 1.18;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }

  .feedback__br {
    display: none;
  }

  .feedback__form {
    margin-bottom: 57px;
  }

  .feedback__contact-link {
    font-size: 28px;
  }

  .feedback__contact-img {
    width: 67px;
    height: 67px;
    margin-right: 24px;
  }

  .feedback__input {
    height: 81px;
    padding-right: 35px;
    padding-left: 35px;

    font-size: 24px;

    border-radius: 20px 0 0 20px;
  }

  .feedback__button {
    width: 95px;
    height: 81px;

    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback__container {
    @include desktop-container;
    padding-top: 160px;
    padding-right: 131px;
    padding-bottom: 105px;
  }

  .feedback__text {
    max-width: 650px;
    margin-bottom: 58px;

    &--question {
      font-size: 29.5px;
    }
  }

  .feedback__button {
    justify-content: space-between;
    min-width: 327px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .feedback__button-text {
    display: inline;
  }

  .feedback__form {
    margin-bottom: 68px;
  }

  .feedback__contact-list {
    display: flex;
    justify-content: center;
  }

  .feedback__contact-item {
    margin-right: 108px;

    &:last-child {
      margin-right: 0;
    }
  }

  .feedback__contact-img {
    width: 90px;
    height: 90px;
    margin-right: 32px;
  }
}
