.filter {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  border-radius: 20px;
  background-color: #ffd74b;
}

.filter__heading {
  @include font(700, normal);

  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 22.5px;
  line-height: 1;
  color: #1d2e5b;
}

.filter__fieldset {
  position: relative;

  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  margin: 0;

  border: 0;

  &--checkbox {
    display: flex;
    flex-direction: column;
  }
}

.filter__legend {
  min-width: 100%;
  height: 40px;
  margin-top: 0;
  margin-bottom: 1px;

  border-top: 1px solid #f3c72b;
}

.filter__button {
  padding: 0;

  transition: all 0.2s ease-out;

  &--show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    @include font(700, normal);
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: #1d2e5b;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:active {
      opacity: 0.3;
    }
  }
}

.filter__colon {
  display: none;
}

.filter__icon {
  transition: all 0.2s ease-out;

  &--checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    margin-bottom: 2px;

    border-radius: 4px;
    background-color: #ffffff;
  }

  &--hide {
    fill: #192144;
  }

  &--rotated {
    transform: rotate(180deg);
  }
}

.filter__label-wrap {
  margin-top: 0;

  &--hobby,
  &--music,
  &--food {
    margin-bottom: 10px;
  }

  &--transport {
    display: flex;
    padding-top: 3px;
    margin-bottom: 20px;
  }

  &--closed {
    display: none;
  }
}

.filter__number-wrap {
  position: relative;

  display: flex;
  height: 35px;
  margin-top: 0;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    top: 50%;
    right: calc(50% - 7px);
    z-index: 9;

    width: 16px;
    height: 1px;
    content: "";

    background-color: #cbced9;
  }

  &::after {
    position: absolute;
    top: calc(50% - 6px);
    right: calc(50% - 4px);
    z-index: 8;

    width: 8px;
    height: 12px;
    content: "";

    background-color: #ffffff;
  }
}

.filter__label {
  @include font(400, normal);

  font-size: 15px;
  color: $greyish-brown;

  transition: all 0.2s ease-out;

  &--checkbox {
    display: flex;
    align-items: center;
    min-height: 25px;
    margin-bottom: 5px;
  }

  &--transport {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;

    background-color: #ffffff;
    border-radius: 50%;
  }
}

.filter__transport-icon {
  opacity: 0.15;
}

.filter__checkbox {
  position: absolute;
  appearance: none;
}

.filter__checkbox::-ms-check {
  display: none;
}

.filter__checkbox:checked + .filter__transport-icon {
  fill: #1d2e5b;
  opacity: 1;
}

.filter__tick-img {
  opacity: 0;
  fill: #192144;

  transition: all 0.2s ease-out;
}

.filter__checkbox:checked + .filter__icon--checkbox > .filter__tick-img {
  opacity: 1;
}

.filter__input-number {
  position: relative;
  appearance: textfield;

  height: 100%;
  padding-right: 8px;
  padding-left: 8px;

  @include font(400, normal);

  color: $greyish-brown;

  font-size: 15px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1.5px;
  text-align: center;

  border: solid 1px #cbced9;

  transition: all 0.2s ease-out;

  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &--left {
    z-index: 2;

    width: 111px;
    margin-right: -1px;

    border-radius: 4px 0 0 4px;
  }

  &--right {
    z-index: 1;

    width: 110px;

    border-radius: 0 4px 4px 0;
  }

  &:focus {
    z-index: 3;

    border-color: #161c35;
  }
}

.filter__range-wrap {
  position: relative;

  display: flex;
  justify-content: flex-end;
  margin-bottom: 22px;

  &::before {
    position: absolute;
    right: 0;
    top: calc(50% - 1px);

    width: 220px;
    height: 2px;
    content: "";

    background-color: #1d2e5b;
    border-radius: 1px;
    opacity: 0.2;
  }

  &::after {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;

    width: 144px;
    height: 2px;
    content: "";

    background-color: #1d2e5b;
    border-radius: 1px;
  }
}

.filter__range {
  z-index: 10;

  display: block;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #1d2e5b;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: all 0.2s ease-out;

  &--left {
    margin-right: 133px;
  }

  &:active {
    transform: scale(1.4, 1.4);
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }
}

@media (min-width: $tablet-width) {
  .filter {
    padding-top: 34px;
    padding-right: 35px;
    padding-bottom: 39px;
    padding-left: 35px;
  }

  .filter__heading {
    padding-left: 0;
    margin-bottom: 67px;

    font-size: 30px;
  }

  .filter__fieldset {
    padding-right: 0;
    padding-left: 0;

    &--checkbox {
      display: flex;
      flex-direction: row;
    }

    &--transport {
      display: flex;
      min-height: 56px;
      margin-top: 5px;
      margin-bottom: 3px;
    }

    &--level {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 66px;
    }

    &:first-of-type::before {
      position: absolute;
      top: -30px;

      width: 100%;
      height: 1px;
      content: "";

      border-radius: 20px;
      background-color: #f3c72b;
    }

    &:last-of-type::after {
      position: absolute;
      bottom: -15px;

      width: 100%;
      height: 1px;
      content: "";

      border-radius: 20px;
      background-color: #f3c72b;
    }
  }

  .filter__legend {
    min-width: 121px;
    margin-bottom: 10px;

    border-top: none;

    &--transport {
      padding-top: 7px;
    }

    &--level {
      padding-top: 6px;
    }
  }

  .filter__button {
    &--show {
      width: auto;

      font-size: 20px;
      font-weight: 500;
    }
  }

  .filter__colon {
    display: inline;
    margin-right: auto;
  }

  .filter__icon {
    &--checkbox {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      margin-bottom: 4px;
    }

    &--hide {
      display: none;
    }
  }

  .filter__label-wrap {
    height: 40px;

    &--hobby,
    &--music,
    &--food {
      display: flex;
      margin-bottom: 0;
    }

    &--transport {
      padding-top: 0;
      margin-bottom: 16px;
    }

    &--number {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    &--closed {
      display: flex;
    }
  }

  .filter__number-wrap {
    max-width: 150px;
    height: 46px;
    margin-bottom: 11px;
  }

  .filter__label {
    font-size: 20px;

    &--checkbox {
      min-width: 170px;
      min-height: 25px;
      padding-left: 5px;
      margin-bottom: 0;

      &:active {
        opacity: 0.3;
      }
    }

    &--checkbox:last-of-type {
      min-width: 0;
    }

    &--transport {
      width: 43px;
      height: 43px;
    }
  }

  .filter__transport-icon {
    height: 21px;
    width: auto;
  }

  .filter__tick-img {
    width: 13px;
    height: 13px;
  }

  .filter__input-number {
    font-size: 20px;
    letter-spacing: 2px;

    &--left {
      width: 76px;
    }

    &--right {
      width: 75px;
    }
  }

  .filter__range-wrap {
    min-width: 277px;
    max-height: 40px;
    order: 2;
    align-items: center;
    margin-right: 61px;
    margin-bottom: 14px;

    &::before {
      top: calc(50% - 2px);

      width: 277px;
      height: 3px;

      border-radius: 1.5px;
    }

    &::after {
      top: calc(50% - 2px);

      width: 201px;
      height: 3px;

      border-radius: 1.5px;
    }
  }

  .filter__range {
    width: 13px;
    height: 13px;

    &--left {
      margin-right: 186px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter {
    max-width: 285px;
    padding-top: 47px;
    padding-right: 41px;
    padding-bottom: 47px;
    padding-left: 48px;
    margin-left: auto;
  }

  .filter__heading {
    margin-bottom: 25px;
  }

  .filter__fieldset {
    padding-right: 0;
    padding-left: 0;

    &--checkbox {
      flex-direction: column;
    }

    &--transport {
      flex-direction: column;
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    &--level {
      flex-direction: column;
      margin-bottom: 8px;
    }

    &:first-of-type::before {
      display: none;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  .filter__legend {
    min-width: 100%;
    margin-bottom: 0;

    &--transport {
      padding-top: 0;
    }

    &--level {
      order: auto;
      padding-top: 0;
      margin-bottom: 8px;
    }
  }

  .filter__colon {
    display: none;
  }

  .filter__button {
    &--show {
      min-width: 100%;
      padding-right: 6px;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .filter__icon {
    &--checkbox {
      margin-right: 12px;
      margin-bottom: 4px;
    }

    &--hide {
      display: block;
    }
  }

  .filter__label-wrap {
    height: auto;
    margin-bottom: 8px;

    &--hobby,
    &--music,
    &--food {
      flex-direction: column;
      padding-top: 15px;
    }

    &--transport {
      padding-top: 10px;
      margin-bottom: 22px;
    }

    &--number {
      flex-direction: column;
      align-items: center;
    }

    &--closed {
      display: none;
    }
  }

  .filter__number-wrap {
    max-width: 190px;
    height: 46px;
    margin-bottom: 32px;
  }

  .filter__input-number {
    &--left {
      width: 96px;
    }

    &--right {
      width: 95px;
    }
  }

  .filter__label {
    &--checkbox {
      min-height: 25px;
      padding-left: 0;
      margin-bottom: 12px;

      &:hover {
        color: rgba(68, 68, 68, 0.6);

        & .filter__icon--checkbox {
          background-color: rgba(256, 256, 256, 0.6);
        }
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--checkbox:last-of-type {
      min-width: 0;
    }
  }

  .filter__range-wrap {
    min-width: 190px;
    margin-right: 6px;
    margin-bottom: 22px;

    &::before {
      width: 191px;
    }

    &::after {
      width: 125px;
      border-radius: 1.5px;
    }
  }

  .filter__range {
    width: 13px;
    height: 13px;

    &--left {
      margin-right: 106px;
    }

    &:hover {
      transform: scale(1.4, 1.4);
    }

    &:active {
      transform: scale(1.4, 1.4);
      box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
    }
  }
}
