.filter-country {
  background-color: #e2e5f2;
  border-radius: 0 0 30px 30px;
}

.filter-country__container {
  width: $mobile-width;
  padding-top: 60px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  margin: 0 auto;
}

.filter-country__wrapper {
  display: flex;
  margin-bottom: 37px;
}

.filter-country__heading {
  @include font(700, normal);
  margin-top: 0;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #192144;
}

.filter-country__continent-list {
  @include list;
  margin-bottom: 20px;
  margin-left: 25px;
}

.filter-country__continent-item {
  margin-bottom: 4px;
}

.filter-country__continent-button {
  @include font(700, normal);
  padding-left: 0;

  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #192144;

  background-color: transparent;
  border: 0;

  &--disable {
    color: rgba(25, 33, 68, 0.3);
  }
}

.filter-country__letter-list {
  @include letter-list;
  padding: 0 auto;
  margin-left: 25px;
  margin-bottom: 65px;
}

.filter-country__letter-item {
  @include letter-item;

  &--active {
    color: #ffffff;

    background-color: #1d2e5b;
    border-color: #1d2e5b;
  }
}

.filter-country__letter-button {
  @include letter-button;
}

.filter-country__list {
  @include list;
  margin-bottom: 20px;
  margin-left: 25px;
}

.filter-country__link {
  @include country-link;
}

@media (min-width: $tablet-width) {
  .filter-country {
    border-radius: 0 0 60px 60px;
  }

  .filter-country__container {
    width: $tablet-width;
    padding-right: 75px;
    padding-bottom: 80px;
    padding-left: 75px;
  }

  .filter-country__button {
    &--open {
      display: none;
    }

    &--close {
      display: none;
    }
  }

  .filter-country__heading {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filter-country {
    background-color: $bgcolor-light;
  }

  .filter-country__container {
    width: $desktop-width;
    padding-right: 60px;
    padding-left: 60px;
  }

  .filter-country__heading {
    display: block;
  }
}
