.howto {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 39px;

  background-color: $bgcolor-dark;
}

.howto__list {
  @include list;
}

.howto__item {
  width: 270px;
  padding-top: 23px;
  padding-right: 50px;
  padding-left: 25px;

  @include font(700, normal);
  font-size: 18px;
  color: #161c35;

  border-radius: 10px;

  &:not(:first-child) {
    margin-top: -20px;
  }

  &:not(:last-child) {
    height: 100px;
  }

  &:nth-child(1) {
    background-color: #ff8d30;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
  }

  &:nth-child(4) {
    height: 80px;

    background-color: #ffd74b;
  }
}

@media (min-width: $tablet-width) {
  .howto {
    padding-top: 0;
    padding-bottom: 0;

    background-color: transparent;
  }

  .howto__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
  }

  .howto__item {
    min-height: 140px;

    font-size: 24px;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(1) {
      width: 384px;
      border-radius: 20px 0 0 0;
    }

    &:nth-child(2) {
      width: 344px;
      margin-left: -40px;

      border-radius: 20px 20px 0 0;
    }

    &:nth-child(3) {
      width: 384px;
      border-radius: 0 0 0 20px;
    }

    &:nth-child(4) {
      width: 344px;
      margin-left: -40px;

      border-radius: 0 0 20px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .howto {
    width: 100%;
    max-width: none;

    background: none;
  }

  .howto__list {
    flex-wrap: nowrap;
    max-width: 1350px;
    margin-top: 0;
  }

  .howto__item {
    min-height: 107px;

    &:not(:first-child) {
      width: 385px;
      margin-left: -40px;
    }

    &:not(:last-child) {
      border-radius: 20px 0 0 20px;
    }

    &:first-child {
      width: 355px;
    }

    &:last-child {
      width: 315px;
      border-radius: 20px;
    }
  }
}
