.main-heading {
  position: relative;
  z-index: 2;

  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  @include font(700, normal);
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;

  background-color: $bgcolor-dark;
  border-radius: 0 0 30px 30px;
}
