.map__container {
  height: 332px;
}

@media (min-width: $tablet-width) {
  .map__container {
    height: 581px;
  }
}

@media (min-width: $desktop-width) {
  .map__container {
    height: 512px;
  }
}
