.promotion {
  background-color: $bgcolor-mobile-dark;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promotion__heading {
  @include font-bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
}
