.review {
  color: #ffffff;

  background-color: #161c35;
}

.review__blockquote {
  width: $mobile-width;
  padding-left: 50px;
  padding-right: 110px;
  margin: 0 auto;
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
}

.review__author {
  @include font(700, normal);
  font-size: 16px;
  line-height: 1.38;
}

@media (min-width: $tablet-width) {
  .review {
    background-color: transparent;
  }

  .review__blockquote {
    width: $tablet-width;
    padding-top: 60px;
    padding-right: 75px;
    padding-left: 75px;
    margin-bottom: 213px;
  }

  .review__text {
    max-width: 265px;
    margin-bottom: 52px;

    font-size: 28px;
    line-height: 1.18;
  }

  .review__author {
    display: block;
    max-width: 260px;

    font-size: 21px;
    line-height: 1.19;
  }
}

@media (min-width: $desktop-width) {
  .review {
    min-height: none;

    background: none;
  }

  .review__blockquote {
    width: $mobile-width;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 90px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
