.review {
  padding-left: 50px;
  padding-right: 110px;

  color: #ffffff;

  background-color: #161c35;
}

.review__blockquote {
  margin: 0;
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;

  @include font(300, normal);
  font-size: 16px;
  line-height: 1.38;
}

.review__author {
  @include font(700, normal);
  font-size: 16px;
  line-height: 1.38;
}

@media (min-width: $tablet-width) {
  .review {
    padding-right: calc(50% - 384px + 75px);
    padding-left: calc(50% - 384px + 75px);

    background-color: transparent;
  }

  .review__blockquote {
    padding-top: 60px;
    
    margin-bottom: 213px;
  }

  .review__text {
    max-width: 265px;
    margin-bottom: 52px;

    font-size: 28px;
    line-height: 1.18;
  }

  .review__author {
    display: block;
    max-width: 260px;

    font-size: 21px;
    line-height: 1.19;
  }
}

@media (min-width: $desktop-width) {
  .review {
    min-width: 50%;
    min-height: 0;
    background: none;
  }

  .review__blockquote {
    width: fit-content;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: auto;
  }
}
