.site-footer {
  position: relative;
  z-index: 99;

  min-height: 239px;

  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}

.site-footer__container {
  width: $mobile-width;
  padding-top: 38px;
  padding-right: 25px;
  padding-bottom: 14px;
  padding-left: 25px;
  margin: 0 auto;
}

.site-footer__logo-link {
  width: 96px;
  height: 15px;
  background-color: tomato;
}

.site-footer__logo-img {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.site-footer__social-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;

  list-style: none;
}

.site-footer__social-link {
  display: block;
  width: 45px;
  height: 45px;

  background-color: tomato;
  border-radius: 50%;
}

.site-footer__copyright-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.site-footer__copyright {
  @include font(400, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .site-footer {
    min-height: 154px;

    border-radius: 60px 60px 0 0;
  }

  .site-footer__container {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
  }

  .site-footer__logo-link {
    width: 166px;
    height: 50px;
  }

  .site-footer__social-list {
    display: flex;
    margin-right: 10px;
  }

  .site-footer__social-link {
    width: 60px;
    height: 60px;
  }

  .site-footer__copyright-wrap {
    margin-top: 10px;
    margin-bottom: auto;
  }

  .site-footer__copyright {
    margin-right: 25px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .site-footer__container {
    width: $desktop-width;
    padding-top: 52px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .site-footer__logo-link {
    width: 198px;
    height: 52px;
  }

  .site-footer__social-list {
    margin-right: 44px;
  }
}
