.site-footer {
  position: relative;
  z-index: 99;

  padding-top: 90px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}

.site-footer__social-list {
  @include list;
}

.site-footer__copyright {
  @include font(400, normal);
  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    min-height: 154px;
    padding-top: 50px;
    padding-right: calc(50vw - 384px + 40px);
    padding-left: calc(50vw - 384px + 40px);

    border-radius: 60px 60px 0 0;
  }

  .site-footer__social-list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .site-footer {
    padding-right: calc(50% - 720px + 60px);
    padding-left: calc(50% - 720px + 60px);
  }
}
