.site-main__heading {
  position: relative;
  z-index: 2;

  margin-top: 0;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;

  background-color: $bgcolor-dark;
  border-radius: 0 0 30px 30px;
}

.site-main__heading-container {
  display: block;
  width: $mobile-width;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  margin: 0 auto;
}

.site-main__wrapper,
.site-main__container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.site-main__user-menu {
  z-index: 9;

  margin-top: -20px;
  margin-bottom: -20px;
}

.site-main__about {
  position: relative;
  z-index: 6;
}

.site-main__directions {
  @include relative-z-margin(5);
}

.site-main__companions {
  @include relative-z-margin(4);
}

.site-main__add-profile {
  @include relative-z-margin(3);
}

.site-main__business-rate {
  position: absolute;
  z-index: 9;

  top: -10px;
  left: 50%;

  transform: translateX(-50%);
}

.site-main__feedback {
  @include relative-z-margin(2);
}

.site-main__contacts {
  @include relative-z-margin(1);
}

.site-main__catalog,
.site-main__add-plan {
  margin-top: -30px;
  margin-bottom: -60px;
}

.site-main__filter-country {
  @include relative-z-margin(1);
}

.site-main__plans,
.site-main__profile,
.site-main__feedback,
.site-main__contacts {
  margin-top: -30px;
}

.site-main__map {
  @include relative-z-margin(0);

  margin-bottom: -30px;
}

@media (min-width: $tablet-width) {
  .site-main__container {
    &--promo {
      background-color: #182044;
      background-image: url("../img/traveller-illustration-tablet@1x.png"),
        url("../img/globe-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: auto 451px, auto 611px;
      background-position: bottom 280px right 112px, bottom 140px center;
    }
  }

  .site-main__heading {
    min-height: 130px;

    font-size: 60px;
    line-height: 1.17;

    border-radius: 0 0 60px 60px;
  }

  .site-main__heading-container {
    width: $tablet-width;
    padding-right: 75px;
    padding-left: 75px;
  }

  .site-main__howto {
    margin-top: 0;
  }

  .site-main__directions,
  .site-main__companions,
  .site-main__add-profile,
  .site-main__feedback,
  .site-main__contacts,
  .site-main__filter-country,
  .site-main__catalog,
  .site-main__profile,
  .site-main__plans,
  .site-main__add-plan {
    margin-top: -60px;
  }

  .site-main__map {
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (min-width: $desktop-width) {
  .site-main__wrapper {
    z-index: 7;

    background-color: #161c34;
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 640px, auto 750px;
    background-position: bottom left calc(50vw - 720px + 604px), bottom;
    border-radius: 0 0 30px 30px;
  }

  .site-main__container {
    &--promo {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: $desktop-width;
      min-height: 640px;
      padding: 0;
      margin: 0 auto;

      background: transparent;
    }
  }

  .site-main__heading-container {
    width: $desktop-width;
    padding-right: 123px;
    padding-left: 129px;
  }

  .site-main__howto {
    margin-bottom: 22px;
  }

  .site-main__about {
    margin-top: -60px;
  }
}
