.site-main {
  padding-top: 73px;
}

.site-main__heading {
  position: relative;
  z-index: 2;

  margin-top: 0;
  margin-bottom: 0;

  background-color: #161c35;
  border-radius: 0 0 20px 20px;
}

.site-main__heading-container {
  @include mobileContainer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.site-main__title {
  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  @include font(700, normal);
  font-size: 36px;
  line-height: 1.11;
  color: #ffffff;

  &::after {
    position: absolute;
    bottom: -12px;
    left: 0;

    width: 100%;
    height: 5px;
    content: "";

    background-color: #ff8d30;
    border-radius: 2.4px;
  }
}

.site-main__button {
  position: relative;

  display: none;
}

.site-main__wrapper,
.site-main__container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.site-main__user-menu {
  z-index: 9;

  margin-top: -20px;
  margin-bottom: -20px;
}

.site-main__about {
  position: relative;
  z-index: 6;
}

.site-main__directions {
  @include relativeZmargin(5);
}

.site-main__companions {
  @include relativeZmargin(4);
}

.site-main__add-profile {
  @include relativeZmargin(3);
}

.site-main__business-rate {
  position: absolute;
  z-index: 9;

  top: -10px;
  left: calc(50% - 135px);
}

.site-main__feedback {
  @include relativeZmargin(2);
}

.site-main__contacts {
  @include relativeZmargin(1);
}

.site-main__add-plan {
  margin-top: -30px;
  margin-bottom: -60px;
}

.site-main__filter-country {
  @include relativeZmargin(1);
}

.site-main__catalog {
  @include relativeZmargin(0);
  margin-bottom: -60px;
}

.site-main__plans,
.site-main__profile,
.site-main__feedback,
.site-main__contacts {
  margin-top: -30px;
}

.site-main__map {
  @include relativeZmargin(0);

  margin-bottom: -30px;
}

@media (min-width: $tablet-width) {
  .site-main {
    padding-top: 132px;
  }

  .site-main__container {
    &--promo {
      background-color: #182044;
      background-image: url("../img/traveller-illustration-tablet@1x.png"),
        url("../img/globe-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: auto 451px, auto 611px;
      background-position: bottom 280px right calc(50% - 86px), bottom 140px center;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .site-main__container {
      &--promo {
        background-image: url("../img/traveller-illustration-tablet@2x.png"),
          url("../img/globe-back-tablet@2x.jpg");
      }
    }
  }

  .site-main__heading {
    min-height: 130px;

    border-radius: 0 0 60px 60px;
  }

  .site-main__heading-container {
    @include tabletContainer;
    padding-top: 88px;
    padding-bottom: 62px;
  }

  .site-main__title {
    margin-bottom: 9px;

    font-size: 60px;
    line-height: 1;

    &::after {
      bottom: -75px;

      height: 8px;

      border-radius: 4px;
    }
  }

  .site-main__button {
    display: block;

    @include font(700, normal);
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }

  .site-main__return-icon {
    margin-left: 22px;

    fill: #ffffff;
  }

  .site-main__howto {
    margin-top: 0;
  }

  .site-main__directions,
  .site-main__companions,
  .site-main__add-profile,
  .site-main__feedback,
  .site-main__contacts,
  .site-main__filter-country,
  .site-main__catalog,
  .site-main__profile,
  .site-main__plans,
  .site-main__add-plan {
    margin-top: -60px;
  }

  .site-main__business-rate {
    top: 0;
    left: calc(50% - 344px);
  }

  .site-main__map {
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

@media (min-width: $desktop-width) {
  .site-main {
    padding-top: 113px;

    background-color: #161c34;
  }

  .site-main__wrapper {
    z-index: 7;

    background-color: #161c34;
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 640px, auto 750px;
    background-position: bottom left calc(50vw - 720px + 604px), bottom;
    border-radius: 0 0 30px 30px;
  }

  @media (min-resolution: 1.5dppx) {
    .site-main__wrapper {
      background-image: url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .site-main__container {
    &--promo {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: $desktop-width;
      min-height: 640px;
      padding: 0;
      margin: 0 auto;

      background: transparent;
    }
  }

  .site-main__heading-container {
    width: $desktop-width;

    padding-top: 106px;
    padding-right: 125px;
    padding-left: 125px;

    &--form {
      padding-right: 500px;
    }
  }

  .site-main__howto {
    margin-bottom: 22px;
  }

  .site-main__about {
    margin-top: -60px;
  }

  .site-main__business-rate {
    top: 108px;
    left: calc(50% - 375px);
  }
}
