.step-two {
  @include step;
}

.step-two__country {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%);
}

.step-two__heading {
  @include step-title;
}

.step-two__text {
  @include step-text;
}

.step-two__fieldset {
  @include step-fieldset;
}

.step-two__input {
  @include font(500, normal);

  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1d2e5b;
}

.step-two__wrapper {
  position: relative;

  width: 100%;
}

.step-two__button {
  border: 0;

  &--add {
    @include font(500, normal);

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: left;
    text-transform: uppercase;
    color: #1d2e5b;

    border-radius: 4px;
    background-color: #edeff6;
  }
}

.step-two__link {
  &--back {
    @include step-back-link;
  }
}
