.step {
  padding: 0;

  border: 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.step__inner {
  padding-top: 21px;
  padding-right: 23px;
  padding-bottom: 19px;
  padding-left: 22px;
}

.step__heading {
  @include font(700, normal);

  margin-top: 0;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1;
  color: #1d2e5b;
}

.step__text {
  @include font(400, normal);

  margin-top: 0;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;
}

.step__list {
  display: none;
}

.step__fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.step__country {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%);
}

.step__wrapper {
  position: relative;

  width: 100%;
}

.step__label-text {
  @include font(500, normal);

  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #1d2e5b;

  &--unit {
    color: rgba(29, 46, 91, 0.3);
  }
}

.step__label {
  position: relative;

  @include font(400, normal);
  font-size: 15px;
  color: $greyish-brown;

  &--form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7px;
  }

  &--children {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  &--country {
    display: flex;
    width: 168px;
    height: 42px;
    margin-right: -1px;

    &::after {
      position: absolute;
      z-index: 2;
      top: 16px;
      right: -4px;

      width: 8px;
      height: 8px;
      content: "";

      border-radius: 50%;
      background-color: #1d2e5b;
    }
  }

  &--select {
    position: relative;

    width: 100%;

    &::after {
      position: absolute;
      z-index: 2;
      top: 16px;
      right: 49px;

      width: 8px;
      height: 8px;
      content: "";

      border: solid 1px #cbced9;
      border-radius: 50%;
    }
  }
}

.step__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 43px;
  margin-bottom: 20px;

  border-radius: 4px;
  border: solid 1px #cbced9;
}

.step__title {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  @include font(500, normal);
  font-size: 18px;
  color: #1d2e5b;

  &::before {
    position: absolute;
    top: 10px;
    left: -13px;

    width: 15px;
    height: 2px;
    content: "";

    background-color: #1d2e5b;
  }

  &::after {
    position: absolute;
    top: 8px;
    left: -2px;

    width: 6px;
    height: 6px;
    content: "";

    border-radius: 50%;
    background-color: #1d2e5b;
  }
}

.step__left-line {
  &::before {
    position: absolute;
    top: 10px;
    left: -13px;

    width: 2px;
    height: 100%;
    content: "";

    background-color: #1d2e5b;
  }
}

.step__title-text {
  position: relative;

  display: block;
  width: 185px;
  height: 36px;
  padding-left: 12px;

  &::after {
    position: absolute;
    top: 0;
    right: 2px;
    z-index: 1;

    width: 49px;
    height: 36px;
    content: "";

    background-image: linear-gradient(to right, transparent 10%, #ffffff 40%, #ffffff);
  }
}

.step__textarea {
  @include font(400, normal);
  width: 220px;
  height: 220px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 1.38;
  color: $greyish-brown;

  border-radius: 4px;
  border: solid 1px #cbced9;
}

.step__select-wrap {
  position: relative;

  display: flex;
  margin-bottom: 22px;
}

.step__input {
  @include font(500, normal);

  color: #1d2e5b;

  &--step-one {
    font-size: 15px;
    letter-spacing: 1.5px;
    text-align: center;

    border: none;
  }

  &--step-two {
    position: relative;

    width: 168px;
    height: 42px;
    padding-right: 13px;
    padding-left: 13px;

    border-radius: 4px;
    border: solid 1px #cbced9;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  &--add-country {
    width: 100%;
    height: 42px;
    padding-right: 13px;
    padding-left: 13px;

    border-radius: 4px;
    border: solid 1px #cbced9;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

.step__select-icon {
  position: absolute;
  top: 3px;
  right: 2px;
  z-index: 1;

  width: 49px;
  height: 36px;

  background-image: linear-gradient(to right, transparent 10%, #ffffff 40%, #ffffff);
}

.step__flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 42px;

  border-radius: 4px;
  border: solid 1px #cbced9;
}

.step__calendar {
  width: 100%;
  margin-bottom: 23px;

  border-collapse: collapse;
}

.step__caption {
  position: relative;
  min-height: 42px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;

  @include font(700, normal);
  font-size: 20px;
  text-align: center;
  color: #1d2e5b;

  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.step__cell-letter {
  display: none;
}

.step__cell {
  width: 31px;
  height: 31px;
  padding-right: 4px;

  @include font(400, normal);
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: $greyish-brown;

  background-color: #edeff6;
  border: 1px solid #cbced9;

  &--heading {
    background-color: #ffffff;
    border: 0;
  }

  &--heading:nth-last-child(-n + 2) {
    color: #ff5c23;
  }

  &--disabled {
    color: rgba(68, 68, 68, 0.3);

    background-color: #ffffff;
  }

  &--active {
    color: #ffffff;

    background-color: #1d2e5b;
  }

  &--current {
    border: 2px solid #ff5c23;
  }
}

.step__checkbox {
  position: absolute;
  appearance: none;
}

.step__checkbox::-ms-check {
  display: none;
}

.step__checkbox-icon {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 13px;

  border-radius: 4px;
  border: solid 1px #cbced9;
}

.step__button {
  border: 0;

  &--add {
    position: relative;

    width: 100%;
    height: 42px;
    padding-left: 12px;
    margin-bottom: 25px;

    @include font(500, normal);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.4px;
    text-align: left;
    text-transform: uppercase;
    color: #1d2e5b;

    border-radius: 4px;
    background-color: #edeff6;

    &::after {
      position: absolute;
      z-index: 2;
      top: 16px;
      right: 49px;

      width: 8px;
      height: 8px;
      content: "";

      border: solid 1px #cbced9;
      border-radius: 50%;
    }
  }

  &--back {
    position: absolute;
    top: 10px;
    left: 0;

    padding-right: 0;
    padding-left: 0;
    border: none;
    background-color: transparent;
  }

  &--forward {
    position: absolute;
    top: 10px;
    right: 0;

    padding-right: 0;
    padding-left: 0;
    border: none;
    background-color: transparent;
  }

  &--del {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    padding-right: 0;
    padding-left: 0;

    border-radius: 50%;
    background-color: #edeff6;
  }

  &--submit {
    margin-bottom: 15px;
  }
}

.step__link {
  &--oval {
    margin-bottom: 18px;
  }

  &--back {
    @include font(700, normal);

    display: flex;
    justify-content: center;

    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #161c35;
  }
}

@media (min-width: $tablet-width) {
  .step {
    border-radius: 30px;
  }

  .step__inner {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-right: 45px;
    padding-bottom: 37px;
    padding-left: 41px;
  }

  .step__header {
    order: 1;
  }

  .step__heading {
    margin-bottom: 34px;

    font-size: 36px;
  }

  .step__text {
    margin-bottom: 38px;

    max-width: 505px;
    font-size: 20px;
    line-height: 1.2;
  }

  .step__companions {
    order: 2;
  }

  .step__label {
    &--form {
      height: 67px;
      align-items: center;
      margin-bottom: 0;

      border-top: 1px solid #d6d9e6;
    }

    &--children {
      order: 3;
      margin-bottom: 26px;

      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #1d2e5b;
    }
  }

  .step__label-text {
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .step__field {
    height: 70px;
    padding-right: 12px;
    padding-left: 20px;
    margin-bottom: 26px;
  }

  .step__input {
    &--step-one {
      font-size: 20px;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  .step__duration {
    order: 4;
    margin-bottom: 34px;
  }

  .step__checkbox-icon {
    width: 36px;
    height: 36px;
    margin-right: 23px;
  }

  .step__calendar {
    order: 5;
    margin-bottom: 42px;
  }

  .step__caption {
    min-height: 85px;
    padding-top: 24px;
    margin-bottom: 36px;

    font-size: 36px;
  }

  .step__cell {
    width: 77px;
    height: 70px;
    padding-right: 0;
    padding-left: 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    color: #1d2e5b;

    &--heading {
      height: 30px;
    }

    &--disabled {
      color: rgba(68, 68, 68, 0.3);
    }

    &--active {
      color: #ffffff;
    }
  }

  .step__cell-letter {
    display: inline;
  }

  .step__link {
    &--oval {
      order: 6;
      width: 285px;
      height: 81px;

      font-size: 24px;
      text-transform: none;
      border-radius: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .step {
    padding-top: 100px;
    padding-right: 160px;
    padding-bottom: 105px;
    padding-left: 160px;

    border-radius: 60px;
  }
}
