.user-menu {
  height: 40px;
  padding-right: 25px;
  padding-left: 25px;

  background-color: transparent;
}

.user-menu__list {
  display: flex;

  @include list;
}

.user-menu__item:last-child {
  width: 100%;
}

.user-menu__link {
  @include font(700, normal);
  font-size: 17px;
  line-height: 1.76;
  text-decoration: none;
  text-transform: uppercase;
  color: #161c35;

  &--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    border-radius: 20px;
    background-color: #ffd74b;
  }
}
