.user-menu__list {
  @include list;
  display: flex;
}

.user-menu__link {
  @include font-bold;
  font-size: 17px;
  line-height: 1.76;
  text-decoration: none;
  text-transform: uppercase;
  color: #161c35;

  &--btn {
    border-radius: 20px;
    background-color: #ffd74b;
  }
}
