@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("BloggerSans-Light"),
    url("../fonts/bloggersans-light.woff2") format("woff2"),
    url("../fonts/bloggersans-light.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("BloggerSans"),
    url("../fonts/bloggersans.woff2") format("woff2"),
    url("../fonts/bloggersans.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("BloggerSans-Medium"),
    url("../fonts/bloggersans-medium.woff2") format("woff2"),
    url("../fonts/bloggersans-medium.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("BloggerSans-Bold"),
    url("../fonts/bloggersans-bold.woff2") format("woff2"),
    url("../fonts/bloggersans-bold.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: local("BloggerSans-LightItalic"),
    url("../fonts/bloggersans-lightitalic.woff2") format("woff2"),
    url("../fonts/bloggersans-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("BloggerSans-Italic"),
    url("../fonts/bloggersans-italic.woff2") format("woff2"),
    url("../fonts/bloggersans-italic.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: local("BloggerSans-MediumItalic"),
    url("../fonts/bloggersans-mediumitalic.woff2") format("woff2"),
    url("../fonts/bloggersans-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("BloggerSans-BoldItalic"),
    url("../fonts/bloggersans-bolditalic.woff2") format("woff2"),
    url("../fonts/bloggersans-bolditalic.woff") format("woff");
}
